<table class="table table-hover">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of stocks">
      <td>{{ s.symbol}}</td>
      <td> {{s.name }} </td>
      <td> {{s.price }} </td>
      <td>
        <span>
          <button type="button" class="btn btn-success btn-sm" (click)="buy(s)"> Buy </button>
          <button type="button" class="btn btn-danger btn-sm" (click)="sell(s)"> Sell </button>          
        </span>
      </td>
    </tr>
  </tbody>
</table>